/* Byte Bank - All rights reserved */

.footer-container {
  flex: 1;
  background: #bf405e;
  padding: 3%;
  width: 94.1vw;
}

.nav-footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.footer-paragraph {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 10vw;
}
